// VARIABLES
$font-default: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
$background-default-home: whitesmoke;
$color-default: violet;
$color-paragraph: gray;
$margin-principal: 0px;
$nav-background: #333;
$nav-border-color: #444;
$link-color: white;
$hover-background-color: #555;
$nav-width: 200px;
$link-padding: 10px;
